h2 {
  background: #f1f8ff;
  border-left: solid 2em #5c9ee7;
  padding: 0.25em 0.5em;
  position: relative;
}

h2:before {
  color: white;
  content: "\f040";
  font-family: FontAwesome;
  font-weight: normal;
  left: -1.35em;
  padding: 0em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

h3 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}

h3:after {
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  content: " ";
  display: block;
  position: absolute;
  width: 20%;
}

.user_post{
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  color: #5d627b;
  margin: 5%;
  padding: 2% 5%;
  width: 70%;
}

.user_post p {
  margin: 0;
  padding: 0;
}

.user_post .form_name {
  font-size: 16px;
  outline: none;
  padding: 0.8em;
  margin: 1% 0 5% 0;
  width: 95%;
}

.user_post .form_simple{
  font-size: 16px;
  outline: none;
  padding: 0.8em;
  margin: 2% 0;
  width: 95%;
}

.user_post .form_description {
  font-size: 16px;
  height: 100px;
  padding: 0.8em;
  margin: 2% 0 5% 0;
  width: 95%;
}

.user_post .square_btn{
  margin-left: 90%;
}
